
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: black;
}
nav{
    position: fixed;
    padding: 25px 30px 25px 30px;
}
nav img{
    width: 75px;
}
.form-wrapper{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    padding: 90px;
}
h2{
    color: white;
    font-size: 30px;
}
form{
    margin: 20px 0 20px 0;
}
.form-control{
    height: 40px;
    position: relative;
    margin-bottom: 16px;
}
.form-control input{
    width: 100%;
    height: 100%;
    background-color: #333333;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
}
.form-control label{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    color: #8c8c8c;
    transition: all 0.1s ease;
}
.form-control input:is(:focus, :valid){
  background-color:  #444;
  padding: 16px 20px 0;
}
.form-control input:is(:focus, :valid) ~label{
    font-size: 0.75rem;
    transform: translateY(-130%);
}
button{
    width: 100%;
    padding: 12px 0 12px 0;
    margin: 10px 0 10px 0;
    font-size: 16px;
    background-color: #e50914;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#code{
    background-color: #464646;  
}
label, p, small,a {
    color: #737373;
}
#or{
    text-align: center;
}
.form-wrapper a{
 text-decoration: none;
}
.form-help{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}










/* ///////////////////////// */


/* .form-wrapper {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-225px, -210.5px) translate(-50%, -50%);  /* Reverse order 
    width: 450px;
    padding: 90px;
  }
  

.form-wrapper {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-225px, -210.5px) translate(calc(-50% - (450px / 2)), calc(-50% - (90px / 2)));  /* Dynamic centering 
    width: 450px;
    padding: 90px;
  } */

